<!-- Preloader START -->
<div class="stage-wrapper">
    <div class="stage" style="opacity: 0;">
      	
    <div class="preloader-wrapper big active" style="display: none;">
      <div class="spinner-layer">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
	
    </div>
</div>
<!-- Preloader END -->
<!-- Header START -->
<header> 
  <!-- Navigation Bar on the top, for medium and small devices -->
  <div class="brand-logo hide-on-large-only"><img src="img/admin-logo-full.svg" alt="logo" class="logo responsive-img"></div>
  <div class="navbar-fixed hide-on-large-only">
    <nav>
      <div class="nav-wrapper">
        <ul class="right">
          <li class="hide-on-small-only"><a href="#search-in-modal" class="modal-trigger"><i class="material-icons">search</i></a></li>
          <li class="hide-on-small-only"><a href="account.html"><i class="material-icons">perm_identity</i></a></li>
          <li class="hide-on-small-only"><a href="login.html" target="_blank"><i class="material-icons">exit_to_app</i></a></li>
          <li class="toogle-side-nav"><a href="#" data-activates="slide-menu" class="button-collapse"><i class="material-icons">menu</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- Side Navigation - fixed for large (nice scroll with Simplebar plugin), slide/drag for medium and small devices -->
  <div id="slide-menu" class="side-nav fixed" data-simplebar-direction="vertical" style="width: 240px;"><div class="simplebar-track"><div class="simplebar-scrollbar visible" style="top: 2px; height: 521px;"></div></div><div class="simplebar-scroll-content"><div class="simplebar-content">
    <ul class="side-nav-main">
      <li class="logo hide-on-med-and-down"><img src="img/admin-logo-full.svg" alt="logo" class="logo responsive-img"></li>
      <li class="side-nav-inline hide-on-med-only"> <a href="login.html" class="inline waves-effect" target="_blank"><i class="mdi-action-exit-to-app"></i></a> <a href="account.html" class="inline waves-effect"><i class="mdi-action-perm-identity"></i></a> <a href="#search-in-modal" class="inline waves-effect modal-trigger"><i class="mdi-action-search"></i></a></li>
      <li><a href="#" class="waves-effect"><i class="mdi-action-dashboard left"></i><span>Dashboard</span></a></li>
      <li><a href="/admin_listings" class="waves-effect"><i class="mdi-image-tonality left"></i><span>Rooms</span><span class="new badge">3</span></a></li>
      <li>
        <ul class="collapsible" data-collapsible="accordion">
          <li><a class="collapsible-header waves-effect"><i class="mdi-action-description left"></i><span>Data Management</span></a>
            <div class="collapsible-body" style="">
              <ul>
                <li><a href="/areas">Areas</a></li>
                <li class="divider"></li>
                <li><a href="/cities" >Cities</a></li>
                <li class="divider"></li>
                <li><a href="/amenities" >Amenities</a></li>
                <li class="divider"></li>
                <li><a href="/rules" >Listing Rules</a></li>
              </ul>
            </div>
          </li>         
        </ul>
      </li>
      <li><a href="/users" class="waves-effect"><i class="mdi-social-group-add left"></i><span>Users</span></a></li>
      <li><a href="/messages" class="waves-effect"><i class="mdi-content-flag left"></i><span>Messages</span></a></li>
      <li><a href="/plans" class="waves-effect"><i class="mdi-action-explore left"></i><span>Plans</span></a></li>
        <li><a href="/adminsubscriptions" class="waves-effect"><i class="mdi-action-explore left"></i>Subscriptions<span>Subscriptions</span></a></li>
      <li><a href="extra.html" class="waves-effect"><i class="mdi-action-thumb-up left"></i><span>Extra</span><span class="alert badge"></span></a></li>
    </ul>
  </div></div></div>
  <!-- Search in Modal START -->
  <div id="search-in-modal" class="modal">
    <div class="modal-content">
      <nav class="flat">
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="search" type="search" class="secondary-color-text white" style="margin:0;" required="">
              <label for="search"><i class="material-icons secondary-color-text">search</i></label>
              <i class="material-icons modal-action modal-close">close</i> </div>
          </form>
        </div>
      </nav>
    </div>
    <div class="modal-footer"> <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Search now</a> </div>
  </div>
  <!-- Search in Modal END --> 
</header>
<!-- Header END --> 